# Virtual Environments
.venv/
venv/
env/

# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configuration files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/

# Test reports
.pytest_cache/
.coverage
htmlcov/